.download {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
        font-weight: 500;
        font-size: 24px;
    }
    p {
        color: $grayishBlue;
        width: 80%;
        margin-bottom: 5vh;
        text-align: center;
    }
    &__container {
        display: flex;
        flex-direction: column;
        width: 80%;
        &__card {
            margin: 3vh 0vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border-radius: 15px;
            img{
                padding: 30px;
            }
            .card__add{
                font-weight: 500;
                font-size: 20px;
                margin: 2vh 0vh;
            }
            .card__version{
                color: $grayishBlue;
                width: 80%;
                text-align: center;
            }
            a{
                color: white;
                background-color: $softBlue;
                padding: 13px;
                border-radius: 5px;
                text-decoration: none;
                margin-right: 2vw;
                margin-bottom: 3vh;
            }
            
        }
    }
}
