.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    font-size: 20px;
    &__title {
        font-weight: 500;
        font-size: 7vw;
        width: 80%;
        text-align: center;
        line-height: 7vw;
        @media only screen and (min-width: $desktop) {
            font-size: 3vw;
        }
    }
    &__description {
        width: 80%;
        margin-bottom: 5vh;
        font-size: 4vw;
        text-align: center;
        color: $grayishBlue;
        line-height: 5vw;
        @media only screen and (min-width: $desktop) {
            width: 50%;
            font-size: 1.5vw;
            line-height: 2vw;
        }

    }
    &__question {
        width: 50%;
        .question {
            border-bottom: 0.5px solid $lightGrey;
            margin-top: 3vh;
            padding-bottom: 2vh;
            cursor: pointer;
            .faq-sentence {
                font-size: 4vw;
                @media only screen and (min-width: $desktop) {
                    font-size: 1.5vw;
                }
            }
            .faq-sentence:hover{
                color: $softRed;
            }
            p {
                margin-left: 10px;
                font-size: 4vw;
                color: $grayishBlue;
                @media only screen and (min-width: $desktop) {
                    font-size: 1.5vw;
                    line-height: 2vw;
                }
            }
            .q1-question {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .q1-response {
                display: none;
            }
            .q2-question {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .q2-response {
                display: none;
            }
            .q3-question {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .q3-response {
                display: none;
            }
            .q4-question {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .q4-response {
                display: none;
            }
            .faq-button {
                background-color: white;
                border: none;
            }
        }
        .question:hover{
            color: $softRed;
        }
    }
    a {
        color: white;
        background-color: $softBlue;
        padding: 13px;
        border-radius: 5px;
        text-decoration: none;
        margin-top: 5vh;
        margin-bottom: 10vh;
        border: 2px solid white;
    }
    a:hover {
        color: $softBlue;
        background-color: white;
        border: 2px solid $softBlue;
    }
}

