.faq {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 30px;
    &__title {
        font-weight: 500;
        font-size: 24px;
    }
    &__description {
        color: $grayishBlue;
        width: 80%;
        margin-bottom: 5vh;
        text-align: center;
    }
    &__question {
        width: 90%;
        .question {
            border-bottom: 0.5px solid $lightGrey;
            margin-top: 3vh;
            .faq-sentence{
                margin-bottom: 2vh;
            }
            p {
                color: $grayishBlue;
                margin-bottom: 5vh;
                margin-left: 10px;
            }
            .q1-question{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .q1-response{
                display: none;
            }
            .q2-question{
                display: flex;
                justify-content: space-between;
                align-items: center;

            }
            .q2-response{
                display: none;
            }
            .q3-question{
                display: flex;
                justify-content: space-between;
                align-items: center;

            }
            .q3-response{
                display: none;
            }
            .q4-question{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .q4-response{
                display: none;
            }
            .faq-button{
                background-color: white;
                border: none;
                .faq-arrow:hover{
                    width: 120%;
                }
            }
        }
    }
    a{
        color: white;
        background-color: $softBlue;
        padding: 13px;
        border-radius: 5px;
        text-decoration: none;
        margin-top: 5vh;
        margin-bottom: 10vh;
        border: 2px solid white;

    }
    a:hover{
        color: $softBlue;
        background-color: white;
        border: 2px solid $softBlue;
    }
}
