.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
    text-align: center;
    
    .features-button-container {
        margin-bottom: 3vh;
        @media only screen and (min-width: $desktop) {
            display: flex;
        }
    }

    h2 {
        font-size: 7vw;
        font-weight: 500;
        @media only screen and (min-width: $desktop) {
            font-size: 3vw;
        }
    }

    .features__text {
        width: 80%;
        margin-bottom: 5vh;
        font-size: 4vw;
        color: $grayishBlue;

        @media only screen and (min-width: $desktop) {
            width: 50%;
            font-size: 1.5vw;
            line-height: 2vw;
        }
    }
    .features-button-container{
        width: 80%;
        margin-bottom: 8vh;
        @media only screen and (min-width: $desktop) {
            width: 50%;
            
        }
        .features-button {
            width: 100%;
            padding: 15px;
            border: none;
            font-size: 4vw;
            font-weight: 600;
            color: $softGrey;
            background-color: white;
    
            @media only screen and (min-width: $desktop) {
                font-size: 1.5vw;
                white-space: nowrap;
                padding: 15px 0px;
                
            }
        }
    
        .bookmarking {
            border-top: 0.5px solid $lightGrey;
            transition: .3s;
            border-bottom: 4px solid $softRed;

            @media only screen and (min-width: $desktop) {
                border-top: none;
            }
        }
    
        .bookmarking:hover {
            @media only screen and (min-width: $desktop) {
                color: $softRed;
            }
        }

        .bookmarking:focus {
            @media only screen and (min-width: $desktop) {
                border-bottom: 4px solid $softRed;
            }
        }
    
    
        .searching {
            border-bottom: 0.5px solid $lightGrey;
            transition: .3s;
            @media only screen and (min-width: $desktop) {
                border-top: none;
            }
    
            &__highlight {
                padding-bottom: 12px;
            }
    
            &__highlight:focus {
                border-bottom: 4px solid $softRed;
            }
        }
    
        .searching:hover {
            @media only screen and (min-width: $desktop) {
                color: $softRed;
            }
        }
    
    
        .sharing {
            border-bottom: 0.5px solid $lightGrey;
            transition: .3s;
            &__highlight {
                padding-bottom: 12px;
            }
    
            &__highlight:focus {
                border-bottom: 4px solid $softRed;
            }
        }
    
        .sharing:hover {
            color: $softRed;
    
            @media only screen and (min-width: $desktop) {
                color: $softRed;
            }
        }
    }
    


    ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        .slide {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @media screen and (min-width: $desktop) {
                flex-direction: row;
                margin-top: 10vh;
                align-items: flex-start;
                justify-content: flex-start;

            }

            .slide__left {
                background-image: url(/assets/images/blueshape_left.svg);
                background-size: cover;
                width: 100%;
                @media screen and (min-width: $desktop) {
                    width: 40%;
                    height: auto;
                }
                img {
                    width: 80%;
                }
            }

            .slide__right {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                @media only screen and (min-width: $desktop) {
                    align-items: flex-end;
                    margin-right: 5vw;
                    width: 50%;
                }

                h2 {
                    font-size: 7vw;
                    @media only screen and (min-width: $desktop) {
                        font-size: 3vw;
                    }
                }

                p {
                    color: $grayishBlue;
                    width: 80%;
                    font-size: 4vw;
                    line-height: 3vh;
                    @media only screen and (min-width: $desktop) {
                        text-align: right;
                        font-size: 1.5vw;
                        line-height: 2vw;
                    }
                }

                a {
                    color: white;
                    background-color: $softBlue;
                    padding: 13px;
                    border-radius: 5px;
                    text-decoration: none;
                    margin-right: 2vw;
                    border: 2px solid white;
                    transition: .3s;
                    @media only screen and (min-width: $desktop) {
                        padding: 1.3vh 2vw;
                        font-size: 1.3vw;
                    }
                }

                a:hover {
                    color: $softBlue;
                    background-color: white;
                    border: 2px solid $softBlue;
                }
            }
        }

        .s1 {
            display: flex;
        }

        .s2 {
            display: none;
        }

        .s3 {
            display: none;
        }
    }
}