.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
    text-align: center;
    
    .features-button-container {
        margin-bottom: 3vh;
        @media only screen and (min-width: $desktop) {
            display: flex;
        }
    }

    h2 {
        font-size: 7vw;
        font-weight: 500;
        @media only screen and (min-width: $desktop) {
            font-size: 3vw;
        }
    }

    .features__text {
        width: 80%;
        margin-bottom: 5vh;
        font-size: 4vw;
        color: $grayishBlue;

        @media only screen and (min-width: $desktop) {
            width: 50%;
            font-size: 1.5vw;
            line-height: 2vw;
        }
    }

    .features-button {
        width: 80%;
        padding: 15px;
        border: none;
        font-size: 4vw;
        font-weight: 600;
        color: $softGrey;
        background-color: white;

        @media only screen and (min-width: $desktop) {
            font-size: 1.5vw;
            white-space: nowrap;
        }
    }

    .bookmarking {
        border-top: 0.5px solid $lightGrey;

        @media only screen and (min-width: $desktop) {
            border-top: none;
            border-bottom: 0.5px solid $lightGrey;
        }

        &__highlight {
            padding-bottom: 12px;
            border-bottom: 4px solid $softRed;
        }

        &__highlight:focus {
            border-bottom: 4px solid $softRed;
        }
    }

    .bookmarking:hover {
        @media only screen and (min-width: $desktop) {
            color: $softRed;
        }
    }


    .searching {
        border-top: 0.5px solid $lightGrey;
        border-bottom: 0.5px solid $lightGrey;

        @media only screen and (min-width: $desktop) {
            border-top: none;
        }

        &__highlight {
            padding-bottom: 12px;
        }

        &__highlight:focus {
            border-bottom: 4px solid $softRed;
        }
    }

    .searching:hover {
        @media only screen and (min-width: $desktop) {
            color: $softRed;
        }
    }


    .sharing {
        border-bottom: 0.5px solid $lightGrey;

        &__highlight {
            padding-bottom: 12px;
        }

        &__highlight:focus {
            border-bottom: 4px solid $softRed;
        }
    }

    .sharing:hover {
        color: $softRed;

        @media only screen and (min-width: $desktop) {
            color: $softRed;
        }
    }


    ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        .slide {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @media screen and (min-width: $desktop) {
                flex-direction: row;
                margin-top: 10vh;
                justify-content: space-between;
                align-items: flex-start;
            }

            .slide__left {

                img {
                    width: 80%;
                }
            }

            .slide__right {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                @media only screen and (min-width: $desktop) {
                    align-items: flex-end;
                    margin-right: 5vw;
                    width: 50%;
                }

                h2 {
                    font-size: 7vw;
                    @media only screen and (min-width: $desktop) {
                        font-size: 3vw;
                    }
                }

                p {
                    color: $grayishBlue;
                    width: 80%;
                    font-size: 4vw;
                    line-height: 3vh;
                    @media only screen and (min-width: $desktop) {
                        text-align: right;
                        font-size: 1.5vw;
                        line-height: 2vw;
                    }
                }

                a {
                    color: white;
                    background-color: $softBlue;
                    padding: 13px;
                    border-radius: 5px;
                    text-decoration: none;
                    margin-right: 2vw;
                    border: 2px solid white;
                }

                a:hover {
                    color: $softBlue;
                    background-color: white;
                    border: 2px solid $softBlue;
                }
            }
        }

        .s1 {
            display: flex;
        }

        .s2 {
            display: none;
        }

        .s3 {
            display: none;
        }
    }
}