.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $darkBlue;
    padding-top: 5vh;
    @media only screen and (min-width: $desktop) {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    &__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 3vh;
        @media only screen and (min-width: $desktop) {
            flex-direction: row;
            align-items: center;
            margin-top: 0vh;
        }
        a {
            text-decoration: none;
            color: $lightGrey;
            text-transform: uppercase;
            letter-spacing: 0.3em;
            margin: 1vh;
        }
        a:hover {
            color: $softRed;
        }
    }
    &__social{
        margin-top: 3vh;
        @media only screen and (min-width: $desktop) {

            margin-top: 0vh;
        }
        &__facebook{
            margin-right: 1em;
        }
        &__facebook:hover{
            border-bottom: solid 2px white;
        }
        &__twitter{
            margin-left: 1em;
        }
        &__twitter:hover{
            border-bottom: solid 2px white;
        }
    }

    .attribution {
        font-size: 11px;
        text-align: center;
        margin-top: 3vh;
        color: $lightGrey;
    }
    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}
