.introduction {
    display: flex;
    flex-direction: column;
    margin-bottom: 15vh;
    @media only screen and (min-width: $desktop) {
        flex-direction: row-reverse;
    }
    &__illustration {
        background-image: url("../images/blueshape.svg");
        background-size: cover;
        @media only screen and (min-width: $desktop) {
            display: flex;
            align-items: flex-end;
            width: 40%;
        }
        &__file {
            width: 100%;
            @media only screen and (min-width: $desktop) {
                width: 90%;
            }
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2vh;
        text-align: center;
        @media only screen and (min-width: $desktop) {
            align-items: flex-start;
            margin-left: 5vw;
            margin-bottom: 5vh;
            width: 50%;
            text-align: left;
        }
        h1 {
            width: 80%;
            font-size: 8vw;
            font-weight: 500;
            @media only screen and (min-width: $desktop) {
                font-size: 3vw;
            }
        }
        p {
            width: 80%;
            margin-bottom: 5vh;
            color: $grayishBlue;
            font-size: 4vw;
            @media only screen and (min-width: $desktop) {
                font-size: 1.5vw;
                line-height: 2vw;
            }
        }
        &__button {
            font-weight: 500;
            .chrome {
                color: white;
                background-color: $softBlue;
                padding: 13px;
                border-radius: 5px;
                text-decoration: none;
                margin-right: 2vw;
                border: 2px solid white;
                transition: .3s;
                @media only screen and (min-width: $desktop) {
                    padding: 1.3vh 2vw;
                    font-size: 1.3vw;
                }
            }
            .chrome:hover {
                color: $softBlue;
                background-color: white;
                border: 2px solid $softBlue;
            }
            .firefox {
                color: $softGrey;
                background-color: rgb(255, 255, 255);
                padding: 13px;
                border-radius: 5px;
                text-decoration: none;
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                margin-left: 2vw;
                border: 2px solid white;
                @media only screen and (min-width: $desktop) {
                    padding: 1.3vh 2vw;
                    font-size: 1.3vw;
                }
            }
            .firefox:hover {
                color: $softGrey;
                background-color: white;
                border: 2px solid $softGrey;
                transition: .3s;
            }
        }
    }
}
