// COLORS
$softBlue : hsl(231, 69%, 60%);
$softRed : hsl(0, 94%, 66%);
$grayishBlue : hsl(229, 8%, 60%);
$darkBlue : hsl(229, 31%, 21%);
$softBlack: rgb(43, 43, 65);
$softGrey: rgb(99, 95, 95);
$lightGrey: rgb(199, 199, 199);

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
$fontMain : 'Rubik', sans-serif;
