@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  margin-bottom: 10vh;
}
@media only screen and (min-width: 821px) {
  .navbar {
    margin-top: 10vh;
    margin-bottom: 15vh;
  }
}
.navbar__home {
  width: 45%;
}
@media only screen and (min-width: 821px) {
  .navbar__home {
    width: 15%;
  }
}
.navbar__home img {
  width: 100%;
}
.navbar__modal {
  display: block;
  background-color: white;
  border: none;
}
@media only screen and (min-width: 821px) {
  .navbar__modal {
    display: none;
  }
}
.navbar__links {
  display: none;
}
@media only screen and (min-width: 821px) {
  .navbar__links {
    display: flex;
    align-items: center;
    gap: 5vw;
  }
  .navbar__links a {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(43, 43, 65);
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s;
  }
}
@media only screen and (min-width: 821px) and (min-width: 821px) {
  .navbar__links a {
    font-size: 1.25vw;
  }
}
@media only screen and (min-width: 821px) {
  .navbar__links a:hover {
    color: #fa5757;
  }
}
@media only screen and (min-width: 821px) {
  .navbar__links .navbar__links__login {
    padding: 10px 30px;
    border-radius: 7px;
    color: white;
    background-color: #fa5757;
    border: 2px solid white;
  }
}
@media only screen and (min-width: 821px) {
  .navbar__links .navbar__links__login:hover {
    color: #fa5757;
    background-color: white;
    border: 2px solid #fa5757;
  }
}

.modal {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(18, 20, 35, 0.98);
  z-index: 1;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 10vh;
}
.modal__header__dropClose {
  background-color: rgba(18, 20, 35, 0);
  border: none;
}
.modal__links {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
}
.modal__links .link {
  font-size: 24px;
  padding: 20px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: lighter;
  letter-spacing: 0.15em;
  border-top: 0.2px solid rgb(199, 199, 199);
  border-bottom: 0.2px solid rgb(199, 199, 199);
}
.modal__footer {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(229deg, 31%, 21%);
  padding-top: 5vh;
}
@media only screen and (min-width: 821px) {
  .footer {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }
}
.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3vh;
}
@media only screen and (min-width: 821px) {
  .footer__nav {
    flex-direction: row;
    align-items: center;
    margin-top: 0vh;
  }
}
.footer__nav a {
  text-decoration: none;
  color: rgb(199, 199, 199);
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin: 1vh;
  transition: 0.3s;
}
@media only screen and (min-width: 821px) {
  .footer__nav a {
    font-size: 1vw;
  }
}
.footer__nav a:hover {
  color: #fa5757;
}
.footer__social {
  margin-top: 3vh;
}
@media only screen and (min-width: 821px) {
  .footer__social {
    margin-top: 0vh;
  }
}
.footer__social__facebook {
  margin-right: 1em;
  transition: 0.3s;
}
.footer__social__facebook:hover {
  border-bottom: solid 2px white;
}
.footer__social__twitter {
  margin-left: 1em;
  transition: 0.3s;
}
.footer__social__twitter:hover {
  border-bottom: solid 2px white;
}
.footer .attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 3vh;
  color: rgb(199, 199, 199);
}
.footer .attribution a {
  color: hsl(228deg, 45%, 44%);
}

.introduction {
  display: flex;
  flex-direction: column;
  margin-bottom: 15vh;
}
@media only screen and (min-width: 821px) {
  .introduction {
    flex-direction: row-reverse;
  }
}
.introduction__illustration {
  background-image: url("../images/blueshape.svg");
  background-size: cover;
}
@media only screen and (min-width: 821px) {
  .introduction__illustration {
    display: flex;
    align-items: flex-end;
    width: 40%;
  }
}
.introduction__illustration__file {
  width: 100%;
}
@media only screen and (min-width: 821px) {
  .introduction__illustration__file {
    width: 90%;
  }
}
.introduction__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vh;
  text-align: center;
}
@media only screen and (min-width: 821px) {
  .introduction__text {
    align-items: flex-start;
    margin-left: 5vw;
    margin-bottom: 5vh;
    width: 50%;
    text-align: left;
  }
}
.introduction__text h1 {
  width: 80%;
  font-size: 8vw;
  font-weight: 500;
}
@media only screen and (min-width: 821px) {
  .introduction__text h1 {
    font-size: 3vw;
  }
}
.introduction__text p {
  width: 80%;
  margin-bottom: 5vh;
  color: hsl(229deg, 8%, 60%);
  font-size: 4vw;
}
@media only screen and (min-width: 821px) {
  .introduction__text p {
    font-size: 1.5vw;
    line-height: 2vw;
  }
}
.introduction__text__button {
  font-weight: 500;
}
.introduction__text__button .chrome {
  color: white;
  background-color: #5368df;
  padding: 13px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 2vw;
  border: 2px solid white;
  transition: 0.3s;
}
@media only screen and (min-width: 821px) {
  .introduction__text__button .chrome {
    padding: 1.3vh 2vw;
    font-size: 1.3vw;
  }
}
.introduction__text__button .chrome:hover {
  color: #5368df;
  background-color: white;
  border: 2px solid #5368df;
}
.introduction__text__button .firefox {
  color: rgb(99, 95, 95);
  background-color: rgb(255, 255, 255);
  padding: 13px;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-left: 2vw;
  border: 2px solid white;
}
@media only screen and (min-width: 821px) {
  .introduction__text__button .firefox {
    padding: 1.3vh 2vw;
    font-size: 1.3vw;
  }
}
.introduction__text__button .firefox:hover {
  color: rgb(99, 95, 95);
  background-color: white;
  border: 2px solid rgb(99, 95, 95);
  transition: 0.3s;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
  text-align: center;
}
.features .features-button-container {
  margin-bottom: 3vh;
}
@media only screen and (min-width: 821px) {
  .features .features-button-container {
    display: flex;
  }
}
.features h2 {
  font-size: 7vw;
  font-weight: 500;
}
@media only screen and (min-width: 821px) {
  .features h2 {
    font-size: 3vw;
  }
}
.features .features__text {
  width: 80%;
  margin-bottom: 5vh;
  font-size: 4vw;
  color: hsl(229deg, 8%, 60%);
}
@media only screen and (min-width: 821px) {
  .features .features__text {
    width: 50%;
    font-size: 1.5vw;
    line-height: 2vw;
  }
}
.features .features-button-container {
  width: 80%;
  margin-bottom: 8vh;
}
@media only screen and (min-width: 821px) {
  .features .features-button-container {
    width: 50%;
  }
}
.features .features-button-container .features-button {
  width: 100%;
  padding: 15px;
  border: none;
  font-size: 4vw;
  font-weight: 600;
  color: rgb(99, 95, 95);
  background-color: white;
}
@media only screen and (min-width: 821px) {
  .features .features-button-container .features-button {
    font-size: 1.5vw;
    white-space: nowrap;
    padding: 15px 0px;
  }
}
.features .features-button-container .bookmarking {
  border-top: 0.5px solid rgb(199, 199, 199);
  transition: 0.3s;
  border-bottom: 4px solid #fa5757;
}
@media only screen and (min-width: 821px) {
  .features .features-button-container .bookmarking {
    border-top: none;
  }
}
@media only screen and (min-width: 821px) {
  .features .features-button-container .bookmarking:hover {
    color: #fa5757;
  }
}
@media only screen and (min-width: 821px) {
  .features .features-button-container .bookmarking:focus {
    border-bottom: 4px solid #fa5757;
  }
}
.features .features-button-container .searching {
  border-bottom: 0.5px solid rgb(199, 199, 199);
  transition: 0.3s;
}
@media only screen and (min-width: 821px) {
  .features .features-button-container .searching {
    border-top: none;
  }
}
.features .features-button-container .searching__highlight {
  padding-bottom: 12px;
}
.features .features-button-container .searching__highlight:focus {
  border-bottom: 4px solid #fa5757;
}
@media only screen and (min-width: 821px) {
  .features .features-button-container .searching:hover {
    color: #fa5757;
  }
}
.features .features-button-container .sharing {
  border-bottom: 0.5px solid rgb(199, 199, 199);
  transition: 0.3s;
}
.features .features-button-container .sharing__highlight {
  padding-bottom: 12px;
}
.features .features-button-container .sharing__highlight:focus {
  border-bottom: 4px solid #fa5757;
}
.features .features-button-container .sharing:hover {
  color: #fa5757;
}
@media only screen and (min-width: 821px) {
  .features .features-button-container .sharing:hover {
    color: #fa5757;
  }
}
.features ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.features ul .slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 821px) {
  .features ul .slide {
    flex-direction: row;
    margin-top: 10vh;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.features ul .slide .slide__left {
  background-image: url("../images/blueshape_left.svg");
  background-size: cover;
  width: 100%;
}
@media screen and (min-width: 821px) {
  .features ul .slide .slide__left {
    width: 40%;
    height: auto;
  }
}
.features ul .slide .slide__left img {
  width: 80%;
}
.features ul .slide .slide__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 821px) {
  .features ul .slide .slide__right {
    align-items: flex-end;
    margin-right: 5vw;
    width: 50%;
  }
}
.features ul .slide .slide__right h2 {
  font-size: 7vw;
}
@media only screen and (min-width: 821px) {
  .features ul .slide .slide__right h2 {
    font-size: 3vw;
  }
}
.features ul .slide .slide__right p {
  color: hsl(229deg, 8%, 60%);
  width: 80%;
  font-size: 4vw;
  line-height: 3vh;
}
@media only screen and (min-width: 821px) {
  .features ul .slide .slide__right p {
    text-align: right;
    font-size: 1.5vw;
    line-height: 2vw;
  }
}
.features ul .slide .slide__right a {
  color: white;
  background-color: #5368df;
  padding: 13px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 2vw;
  border: 2px solid white;
  transition: 0.3s;
}
@media only screen and (min-width: 821px) {
  .features ul .slide .slide__right a {
    padding: 1.3vh 2vw;
    font-size: 1.3vw;
  }
}
.features ul .slide .slide__right a:hover {
  color: #5368df;
  background-color: white;
  border: 2px solid #5368df;
}
.features ul .s1 {
  display: flex;
}
.features ul .s2 {
  display: none;
}
.features ul .s3 {
  display: none;
}

.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20vh;
}
.download h2 {
  font-weight: 500;
  font-size: 7vw;
}
@media only screen and (min-width: 821px) {
  .download h2 {
    font-size: 3vw;
  }
}
.download p {
  color: hsl(229deg, 8%, 60%);
  width: 80%;
  margin-bottom: 10vh;
  text-align: center;
  font-size: 4vw;
  line-height: 4.5vw;
}
@media only screen and (min-width: 821px) {
  .download p {
    font-size: 1.5vw;
    line-height: 2vw;
    width: 60%;
  }
}
.download__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 821px) {
  .download__container {
    flex-direction: row;
    align-self: center;
    gap: 2vw;
  }
}
.download__container__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 82%;
  margin: 3vh 0vh;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@media only screen and (min-width: 821px) {
  .download__container__card {
    width: 280px;
  }
}
.download__container__card .logo {
  padding: 30px;
  transition: 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.download__container__card .logo:hover {
  rotate: 360deg;
}
.download__container__card .trait {
  padding: 30px;
}
.download__container__card .card__add {
  font-weight: 500;
  font-size: 20px;
  margin: 2vh 0vh;
}
.download__container__card .card__version {
  color: hsl(229deg, 8%, 60%);
  width: 80%;
  text-align: center;
}
.download__container__card a {
  color: white;
  background-color: #5368df;
  padding: 13px;
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 3vh;
  border: 2px solid white;
}
.download__container__card a:hover {
  color: #5368df;
  background-color: white;
  border: 2px solid #5368df;
  transition: 0.3s;
}
.download__container .chrome {
  translate: 0px -50px;
}
.download__container .opera {
  translate: 0px 50px;
}

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  font-size: 20px;
}
.faq__title {
  font-weight: 500;
  font-size: 7vw;
  width: 80%;
  text-align: center;
  line-height: 7vw;
}
@media only screen and (min-width: 821px) {
  .faq__title {
    font-size: 3vw;
  }
}
.faq__description {
  width: 80%;
  margin-bottom: 5vh;
  font-size: 4vw;
  text-align: center;
  color: hsl(229deg, 8%, 60%);
  line-height: 5vw;
}
@media only screen and (min-width: 821px) {
  .faq__description {
    width: 50%;
    font-size: 1.5vw;
    line-height: 2vw;
  }
}
.faq__question {
  width: 80%;
}
@media only screen and (min-width: 821px) {
  .faq__question {
    width: 50%;
  }
}
.faq__question .question {
  border-bottom: 0.5px solid rgb(199, 199, 199);
  margin-top: 3vh;
  padding-bottom: 2vh;
  cursor: pointer;
}
.faq__question .question .faq-sentence {
  font-size: 4vw;
}
@media only screen and (min-width: 821px) {
  .faq__question .question .faq-sentence {
    font-size: 1.5vw;
  }
}
.faq__question .question .faq-sentence:hover {
  color: #fa5757;
  transition: 0.3s;
}
.faq__question .question p {
  margin-left: 10px;
  font-size: 4vw;
  color: hsl(229deg, 8%, 60%);
}
@media only screen and (min-width: 821px) {
  .faq__question .question p {
    font-size: 1.5vw;
    line-height: 2vw;
  }
}
.faq__question .question .q1-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq__question .question .q1-response {
  display: none;
}
.faq__question .question .q2-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq__question .question .q2-response {
  display: none;
}
.faq__question .question .q3-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq__question .question .q3-response {
  display: none;
}
.faq__question .question .q4-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq__question .question .q4-response {
  display: none;
}
.faq__question .question .faq-button {
  background-color: white;
  border: none;
}
.faq__question .question:hover {
  color: #fa5757;
  transition: 0.3s;
}
.faq a {
  color: white;
  background-color: #5368df;
  padding: 13px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 5vh;
  margin-bottom: 10vh;
  border: 2px solid white;
}
@media only screen and (min-width: 821px) {
  .faq a {
    padding: 1.3vh 2vw;
    font-size: 1.3vw;
  }
}
.faq a:hover {
  color: #5368df;
  background-color: white;
  border: 2px solid #5368df;
  transition: 0.3s;
}

.contactUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #5368df;
  color: white;
}
.contactUs__stat {
  margin-top: 7vh;
  margin-bottom: 2vh;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}
.contactUs__title {
  font-size: 28px;
  text-align: center;
  width: 90%;
  font-weight: 500;
}
.contactUs__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3vh;
}
.contactUs__form__email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 370px;
  margin-bottom: 2vh;
  background-color: #fa5757;
  border-radius: 5px;
}
.contactUs__form__email__textArea {
  width: 325px;
  border: none;
  border-radius: 5px;
  padding: 20px;
  font-size: 16px;
  color: rgb(99, 95, 95);
  margin: 3px;
}
.contactUs__form__email__textError {
  display: none;
  width: 370px;
  padding: 5px;
  margin-left: 25px;
  font-size: 12px;
  font-style: italic;
}
.contactUs__form__email__textError:invalid {
  display: inline-block !important;
}
.contactUs__form__send {
  width: 370px;
  border-radius: 5px;
  padding: 20px;
  font-size: 16px;
  color: white;
  background-color: #fa5757;
  font-weight: 500;
  margin-bottom: 5vh;
  border: 2px solid #5368df;
  transition: 0.3s;
}
.contactUs__form__send:hover {
  color: #fa5757;
  background-color: white;
  border: 2px solid #fa5757;
}

body {
  font-family: "Rubik", sans-serif;
  color: rgb(43, 43, 65);
  padding: 0;
  margin: 0;
}/*# sourceMappingURL=styles.css.map */